<div class="container workingHours_container">
    <h4 class="transitional"> <%= translations.our%></h4>
    <h1 class="heading"> <%= translations.working_hours%></h1>
    <div class="divider"></div>

    <div class="workingHours_grid_container">

        <div class="workingHours">
            <table class="working_hours__table">
                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.monday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00 </h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time"> 17:00</h4>
                    </td>
                </tr>
                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.tuesday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.wednesday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.thursday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.friday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.saturday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td colspan="2">
                        <h4 class="working_hours__time weekend"> <%= translations.saturday_time %></h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= translations.sunday%></h4>
                        <div class="divider3"></div>
                    </td>
                    <td colspan="2">
                        <h4 class="working_hours__time weekend"> <%= translations.sunday_time %></h4>
                    </td>
                </tr>
            </table>
            <!--
                </div>
                 <div class="working_hours__time-container">
                     <div class="working_hours__time time_monday">9:00 - 17:00</div>
                     <div class="working_hours__time">9:00 - 17:00</div>
                     <div class="working_hours__time time_wednesday">9:00 - 17:00</div>
                     <div class="working_hours__time time_thursday">9:00 - 17:00</div>
                     <div class="working_hours__time time_friday">9:00 - 17:00</div>
                     <div class="working_hours__time time_saturday">KOKKULEPPEL</div>
                     <div class="working_hours__time time_sunday">SULETUD</div>
                 </div>
             </div>-->


            <div class="workingHours_img_container">
                <img src="/assets/stylist_png.png" class="workingHours_img" alt="working hours">
            </div>
        </div>
    </div>
</div>
