<%- include ('./partials/header.ejs') %>


<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

<div class="container">
    <img class="model" src="/assets/hero_model2.png" alt="model"/>

    <div class="welcome_text_button">
        <h1 class="slogan"><%= __('slogan') %></h1>
        <button class="booking_link"><a class="nav-link" href="#booking"><%= __('booking_link') %></a></button>
    </div>

    <img class="bg_img" src="/assets/bg/homepage_bg.jpg" alt="bg"/>
    <img class="under_bg_img" src="/assets/bg/over-curve_03.png" alt="under_bg"/>
    <img class="img5" src="/assets/service4.png" alt="something"/>
    <br/>

    <div class="textContainer">
        <h4 class="transitional"><%= __('welcome') %></h4>

        <h1 class="heading"><%= __('explorer_hair') %></h1>
        <h1 class="heading"><%= __('studio') %></h1>
        <div class="divider"></div>

        <img class="img6" src="/assets/jelena.png" alt="jelena"/>
        <em class="transitional transitional_worker"><%= __('stylist') %></em>
        <div class="divider2"></div>
        <h2 class="worker-name"><%= __('elena_pahnapuu') %></h2>
        <img class="img7" src="/assets/bg/intro-bg2.jpg" alt="intro_bg2"/>
    </div>

</div>
<!--services-->
<div id="services"></div>
<div class="container service_container">
    <h4 class="transitional transitional_services"><%= __('our') %></h4>
    <h1 class="heading"><%= __('services') %></h1>
    <div class="divider"></div>
    <p class="text text_service">
        <%= __('saloon_text_services') %>
    </p>
    <div class="service_grid_container">
        <% about_services.forEach(service => {
        %>
            <div class="services_box">
                <img class="image" src="<%= service.img_path %>" alt="<%= service.name_et %> Image"/>
                <h3 class="service_name"><%= currentLocale === 'ru' ? service.name_ru : service.name_et %></h3>
                <p class="text service_text"><%= currentLocale === 'ru' ? service.description_ru : service.description_et %></p>
            </div>
        <% }); %>
    </div>
</div>

<!--own style-->
<div class="container ownStyle_container">
    <h4 class="transitional transitional_ownStyle"><%= __('choose') %></h4>
    <h1 class="heading"><%= __('own_style') %></h1>
    <div class="divider"></div>
    <p class="text text_ownStyle">
        <%= __('own_style_text') %>
    </p>

    <div class="glide_container">
        <div class="glide" id="glide1">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide"><img src="/assets/1_1.jpg" alt="Slide 1"></li>
                    <li class="glide__slide"><img src="/assets/1_2.jpg" alt="Slide 2"></li>
                </ul>
            </div>
        </div>


        <div class="glide" id="glide2">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide"><img src="/assets/2_1.jpg" alt="Slide 1"></li>
                    <li class="glide__slide"><img src="/assets/2_2.jpg" alt="Slide 2"></li>
                </ul>
            </div>
        </div>

        <div class="glide" id="glide3">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide"><img src="/assets/3_1.jpg" alt="Slide 1"></li>
                    <li class="glide__slide"><img src="/assets/3_2.jpg" alt="Slide 2"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--pricelist  -->
<div id="pricelist"></div>
<div id=pricelist" class="container prices_container">
    <h4 class="transitional transitional_prices"><%= __('our') %></h4>
    <h1 class="heading"><%= __('prices') %></h1>
    <div class="divider dark_divider"></div>
    <p class="text price_text">
        <%= __('creativity_text') %>
    </p>

    <div class="price_list">
        <div class="price_grid_container men-child">
            <div class="price_card_container">
                <h1 class="price_card_name"><%= __('men') %></h1>
                <div class="price_card men">
                    <ul>
                        <% services
                                .filter(service => service.category_id === 1)
                        .forEach(service => { %>
                            <li>
                                <span class="service_name service_name_pricelist"><%= service.name %></span>
                                <span class="price <%= service.is_price_range ? 'is_price_range' : '' %>">
                                    <% if (service.is_price_range) { %>
                                        <span class="note"><%= __('is_price_range') %></span>
                                    <% } %>
                                    <%= service.price %>€
                                    <%= service.is_additional_material ? __('additional_material') : '' %>

                                </span>

                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="price_card_container">
                <h1 class="price_card_name"><%= __('child') %></h1>
                <div class="price_card child">
                    <ul>
                        <% services
                                .filter(service => service.category_id === 3)
                        .forEach(service => { %>
                            <li>
                                <span class="service_name service_name_pricelist"><%= service.name %></span>
                                <span class="price <%= service.is_price_range ? 'is_price_range' : '' %>">
                                    <% if (service.is_price_range) { %>
                                        <span class="note"><%= __('is_price_range') %></span>
                                    <% } %>
                                    <%= service.price %>€
                                    <%= service.is_additional_material ? translations.additional_material : '' %>
                                </span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="price_grid_container women">
            <div class="price_card_container">
                <h1 class="price_card_name"><%= __('women') %></h1>

                <div class="price_card women">
                    <ul>
                        <% services
                                .filter(service => service.category_id === 2)
                        .forEach(service => { %>
                            <li>
                                <span class="service_name service_name_pricelist"><%= service.name %></span>
                                <span class="price <%= service.is_price_range ? 'is_price_range' : '' %>">
                                    <% if (service.is_price_range) { %>
                                        <span class="note"><%= __('is_price_range') %></span>
                                    <% } %>
                                    <%= service.price %>€
                                    <%= service.is_additional_material ? __('additional_material') : '' %>
                                </span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="price_grid_container material">
            <div class="price_card_container">
                <h1 class="price_card_name"><%= __('material') %></h1>
                <div class="price_card material">
                    <ul>
                        <% services
                                .filter(service => service.category_id === 4)
                        .forEach(service => { %>
                            <li>
                                <span class="service_name service_name_pricelist"><%= service.name %></span>
                                <span class="price"><%= service.price %>€ <%= service.additionalCost || '' %></span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container gallery_container">
    <h4 class="transitional transitional_gallery"><%= __('our_gallery') %></h4>
    <h1 class="heading"><%= __('gallery') %></h1>
    <div class="divider"></div>
    <p class="text gallery_text">
        <%= __('gallery_text') %>
    </p>


    <div id="gallery"></div>

    <div id="modal" onclick="closeModal()" tabindex="0">
        <button id="prev" onclick="prevImage()">&lt;</button>
        <div id="close-modal" onclick="closeModal()">&times;</div>
        <img id="modal-image" src="" alt="Modal Image">
        <button id="next" onclick="nextImage()">&gt;</button>
    </div>
</div>

<!--working hours-->
<div id="time" class="container workingHours_container">
    <h4 class="transitional"> <%= __('our_working_hours') %></h4>
    <h1 class="heading"> <%= __('working_hours') %></h1>
    <div class="divider"></div>

    <div class="workingHours_grid_container">

        <div class="workingHours">
            <table class="working_hours__table">
                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('monday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00 </h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time"> 17:00</h4>
                    </td>
                </tr>
                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('tuesday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('wednesday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('thursday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('friday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td>
                        <h4 class="working_hours__time">9:00</h4>
                    </td>
                    <td>
                        <h4 class="working_hours__time">17:00</h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('saturday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td colspan="2">
                        <h4 class="working_hours__time weekend"> <%= __('saturday_time') %></h4>
                    </td>
                </tr>

                <tr>
                    <td class="working_hours__day-container">
                        <h4 class="working_hours__day__heading"> <%= __('sunday') %></h4>
                        <div class="divider3"></div>
                    </td>
                    <td colspan="2">
                        <h4 class="working_hours__time weekend"> <%= __('sunday_time') %></h4>
                    </td>
                </tr>
            </table>


            <div class="workingHours_img_container">
                <img src="/assets/stylist_png.png" class="workingHours_img" alt="working hours">
            </div>
        </div>
    </div>
</div>
<%- include ('./booking.ejs') %>


    <script>
        const imageUrls = [
            './assets/gallery/gallery_image_1.jpg',
            './assets/gallery/gallery_image_2.jpg',
            './assets/gallery/gallery_image_3.jpg',
            './assets/gallery/gallery_image_4.jpg',
            './assets/gallery/gallery_image_5.jpg',
            './assets/gallery/gallery_image_6.jpg',
        ];

        let currentImageIndex = 0;

        function openModal(imageUrl) {
            if (window.innerWidth <= 600) {
                console.log("jidjfifnwe")
                return;
            }

            currentImageIndex = imageUrls.indexOf(imageUrl);
            updateModalImage();
            document.getElementById('modal').style.display = 'flex';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }

        function prevImage() {
            currentImageIndex = (currentImageIndex - 1 + imageUrls.length) % imageUrls.length;
            updateModalImage();
        }

        function nextImage() {
            currentImageIndex = (currentImageIndex + 1) % imageUrls.length;
            updateModalImage();
        }

        function updateModalImage() {
            document.getElementById('modal-image').src = imageUrls[currentImageIndex];
        }

        // Add keyboard arrow key event listeners
        document.addEventListener('keydown', function (event) {
            if (event.key === 'ArrowLeft') {
                prevImage();
            } else if (event.key === 'ArrowRight') {
                nextImage();
            } else if (event.key === 'Escape') {
                closeModal();
            }
        });

        function generateGalleryItem(imageUrl, uniqueClass) {
            const gallery = document.getElementById('gallery');

            const galleryItem = document.createElement('div');
            galleryItem.classList.add('gallery-item', uniqueClass);
            galleryItem.onclick = () => openModal(imageUrl);

            const img = document.createElement('img');
            img.src = imageUrl;
            img.alt = 'Image';
            galleryItem.appendChild(img);

            gallery.appendChild(galleryItem);
        }

        // Loop through imageUrls and generate gallery items
        for (let i = 0; i < imageUrls.length; i++) {
            const uniqueClass = `pic-${i + 1}`; // Adjust class naming as needed
            generateGalleryItem(imageUrls[i], uniqueClass);
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>

        function initializeGlide(selector, autoplayDuration) {
            new Glide(selector, {
                type: 'carousel',
                startAt: 0,
                animationDuration: 1000,
                perView: 1,
                autoplay: autoplayDuration,
            }).mount();
        }

        initializeGlide('#glide1', 3000);
        initializeGlide('#glide2', 4000);
        initializeGlide('#glide3', 3500);
    </script>




<%- include ('./partials/footer.ejs') %>

