
 <div class="container">
     <!--<div class="welcome">-->
     <img class="model" src="./assets/hero_model2.png" alt="model" />
     <div class="welcome_text_button">
         <h1 class="slogan"><%= translations.slogan %></h1>
         <button class="booking_link"><%= translations.bookingLink %></button>
     </div>
     <img class="bg_img" src="./assets/bg/homepage_bg.jpg" alt="bg" />
     <img class="under_bg_img" src="./assets/bg/over-curve_03.png" alt="under_bg" />
     <img class="arrow" src="./assets/service4.png" alt="arrow" />
     <img class="img5" src="./assets/service4.png" alt="something" />
     <br />

     <div class="textContainer">
         <h4 class="transitional"><%= translations.welcome %></h4>
<!---BR-->
         <h1 class="heading"><%= translations.explorer_hair_studio %></h1>
         <divider class="divider"></divider>

         <img class="img6" src="./assets/jelena.png" alt="jelena" />
         <em class="transitional"><%= translations.stylist %></em>
         <div class="divider2"></div>
         <h2 class="name"><%= translations.elena_piahnapuu %></h2>
         <img class="img7" src="./assets/bg/intro-bg2.jpg" alt="intro_bg2" />
     </div>
 </div>